{% extends "layout.html" %}
{% block content %}
    <h2>Add recipe</h2>
    <form action="{{ url_for('add') }}" method=post>
	<p class="heading">Dish name: <input type=text name=name>
    <p class="heading">Number of Eggs: <input type=number name=eggs>
    <p class="heading">Cups of Milk: <input type=number name=milk>
    <p class="heading">Cups of Flour: <input type=number name=flour>
    <p class="heading">Additional Options:
	    <textarea rows=5 cols=50 name=additional></textarea></p>
	<p><input type=submit value=Add></p>
    </form>
{% endblock %}
