{% extends "layout.html" %}
{% block content %}
    <h2>Recipe Book</h2>

    <h3>Submit <a href="{{ url_for('add') }}">here</a></h3>
    <h3>Entries</h3>
    {% for entry in entries %}
        <h4>
        <p class=entry> Dish name: {{ entry.name }}
        <br>added on {{ entry.added }}<br>
        </h4>
        <p> Eggs: {{ entry.eggs }} </p>
        <p> Milk: {{ entry.milk }}</p>
        <p> Flour: {{ entry.flour }}</p>
        <h4>Notes: </h4><br>
        {{ entry.additional }}
        <br>
        <br>
        </p>
    {% endfor %}

{% endblock %}
