{% extends "layout.html" %}
{% block content %}
    <h2>Google Vision API Final</h2>
    <form action="{{ url_for('index') }}" method=post>
        <h3>URL for image <input type=text name=URL></h3>
        <input type="submit" value="Submit">
    </form>
    <h3>Labels</h3>
    {% for label in labels %}
        <h4>
        <p class=entry> Image: {{ label.URL }}
        <br>
        <img src="{{ label.URL }}"></img>
        <br>
        <ul>
            {% for item in label.labels %}
            <li>{{ item.description }}, Score: {{ item.score * 100}}</li>
            {% endfor %}
        </ul>
        <br>
        <br>
        </p>
    {% endfor %}

{% endblock %}
